    <h2 class="non lower">Collections</h2>
    <% if @generic_file.collections.blank? %>
        <p><%= t('sufia.file.collections_list.empty') %></p>
    <% else %>
      <ul class="list-unstyled">
        <% @generic_file.part_of.each do |c| %>
          <li><%= c %></li>
        <% end %>

        <% @generic_file.collections.each do |c| %>
          <%= content_tag :li, class: 'attribute title', data: { id: c.id } do %>
            <%= link_to c.title, collections.collection_path(c) %>
          <% end %>
        <% end %>

        <%= link_to @generic_file.administrative_collection.title, catalog_index_path(collection_params_for_catalog(@generic_file.administrative_collection.title)) if @generic_file.administrative_collection.present? %>
      </ul>
    <% end %>
