<div class="col-xs-12 col-sm-offset-2 col-sm-9">
  <%= form_for([collections, @collection], method: :get, 
        html: { class: "form-inline" }) do %> 
    <label class="sr-only" for="collection_search">Search Collection <%= @collection.title %></label>
    <div class="input-group col-xs-12">
      <%= text_field_tag :cq, params[:cq], class: "form-control", type: "search", id: "collection_search" %>
      <%= hidden_field_tag :sort, params[:sort], id: 'collection_sort' %>
      <%= render_hash_as_hidden_fields(params_for_search.except(:cq, :sort, :qt, :page)).html_safe %>
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary" id="collection_submit"><i class="fa fa-search"></i> Search</button>
      </div>
    </div>
  <% end %>
</div>
