<tr id="document_<%= member.id %>" %>
  <td><%= render_thumbnail_tag member %></td>
  <td>
   <%= render_partial_for 'metadata', member %>
  </td>
  <td><%= member.date_created.first || "-" %></td>
  <td><%= render_partial_for 'actions', member %></td>
</tr>
