<tr id="document_<%= member.id %>" %>
  <td><%= render_thumbnail_tag member %></td>
  <td>
   <%= render_partial_for 'metadata', member %>
  </td>
  <td><%= Date.parse(member.date_created.first).to_formatted_s(:concise) %></td>
  <td><%= render_partial_for 'actions', member %></td>
</tr>
