<%= form_tag search_form_action, method: :get, id: "search-form-header", role: "search" do %>
  <%= render_hash_as_hidden_fields(params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>

    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon for-search-field">
            <label for="search_field" class="sr-only">Search field(s)</label>
            <%= select_tag(:search_field,
                options_for_select(search_fields, h(params[:search_field])),
                title: "Limit search to",
                id: "search_field",
                class: "search_field") %>
          </span>

          <label class="sr-only" for="q"><%= t("sufia.search.form.q.label") %></label>
          <%= text_field_tag :q, current_search_parameters , class: "q form-control", id: "search-field-header", placeholder: t("sufia.search.form.q.placeholder") %>

          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary" id="search-submit-header">
              <%= t('sufia.search.button.html') %>
            </button>
          </div><!-- /.input-group-btn -->

        </div><!-- /.input-group -->
      </div><!-- /text field dropdown -->
    </div><!-- /.row -->

<% end %>
